@tailwind base;
@tailwind components;
@tailwind utilities;

@import "maplibre-gl/dist/maplibre-gl.css";

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2a2a3a;
  border-radius: 8px;
}

.maplibregl-ctrl-group {
  background: rgba(18, 18, 28, 0.85) !important;
  border: 1px solid #242433 !important;
  backdrop-filter: blur(4px);
}
.maplibregl-ctrl-group button {
  background: transparent !important;
}
.maplibregl-ctrl-group button + button {
  border-top: 1px solid #242433 !important;
}
